.dialog-popup {
    min-width: 30%;
}

[data-bs-theme='light'] .modal-theme {
    background-color: white;
    color: black;
    border-color: black;
}

[data-bs-theme='dark'] .modal-theme {
    background-color: #212529;
    color: white;
    border-color: white;
}

aside,
main {
    border: 1px solid;
}

body {

    main.container-fluid {

        >div.row {
            min-height: 38.4rem;

            nav {
                flex-direction: column;
                align-self: stretch;
            }

            section {
                align-self: stretch;
            }
        }
    }
}

@media (max-width: 767.98px) {

    body {

        main.container-fluid {

            >div.row {
                min-height: fit-content;
                flex-direction: column;

                nav {
                    flex-direction: row;
                    align-self: auto;

                    button.nav-link:first-child {
                        margin-left: auto;
                    }

                    button.nav-link:last-child {
                        margin-right: auto;
                    }
                }

                section {
                    flex-grow: 1;
                }
            }
        }
    }
}